@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'League';
    src: url('./fonts/league-spartan/LeagueSpartan-Bold.ttf');
}

@font-face {
    font-family: 'League-regular';
    src: url('./fonts/league-spartan/LeagueSpartan-Regular.ttf');
}

body {
    font-family: 'Montserrat', sans-serif;
}

.make-it-pop {
    transition: 1s ease-in-out;
    color: #0092E4;
}

.layout-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.arrow-pulse {
    width: 70px;
    height: 70px;
    background: linear-gradient(#6fcaff, #407ed7);
    position: relative;
    margin: auto;
    border-radius: 50%;
    animation: pulseAnimation 2s infinite;
}

.arrow {
    top: 100%;
    height: 100%;
    width: 5px;
    background: linear-gradient(#6fcaff, #407ed7);
}

.arrow-pulse img {
    width: 24px;
    object-fit: cover;
}

.reveal .slide-background-content {
    opacity: .5;
    background: #080b20;
}

h3 {
    font-size: 24px !important;
    color: aliceblue !important;
    letter-spacing: 1.2px !important;
}

.shape {
    padding: 20px;
    width: 270px;
    position: relative;
}

.shape .bullet {
    color: #43BBFF;
    opacity: 0;
}

/* ANIMATIONS */

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}