@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'League';
    src: url('./fonts/league-spartan/LeagueSpartan-Bold.ttf');
}

@font-face {
    font-family: 'League-regular';
    src: url('./fonts/league-spartan/LeagueSpartan-Regular.ttf');
}

body {
    font-family: 'Montserrat', sans-serif;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.reveal .slide-background-content {
    opacity: .5 !important;
    background: #080b20 !important;
}

h3 {
    font-size: 28px !important;
    color: aliceblue !important;
    letter-spacing: 1.2px !important;
}

p {
    color: #a9a9aa;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.7);
    width: 800px;
    
    height: 400px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s, transform 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-background.active {
    opacity: 1;
    visibility: visible;
    
    transition-delay: 0s;
}

.modal-content.active {
    opacity: 1;
    transform: scale(1);
    padding: 50px;
}

.modal-logo {
    width: 250px;
    height: max-content;
    margin-right: 5rem;
}

.modal-description {
    margin-top: 10px;
    text-align: start;
    font-size: 25px;
    line-height: 48px;
    color: #43BBFF;
}

.modal-background-mail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.modal-content-mail {
    background-color: rgba(0, 0, 0, 0.7);
    width: 800px;
    
    height: 400px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s, transform 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-background-mail.active {
    opacity: 1;
    visibility: visible;
    
    transition-delay: 0s;
}

.modal-content-mail.active {
    opacity: 1;
    transform: scale(1);
    padding: 50px;
}

.modal-logo-mail {
    width: 250px;
    height: max-content;
    margin-right: 5rem;
}

.modal-description-mail {
    margin-top: 10px;
    text-align: start;
    font-size: 25px;
    line-height: 48px;
    color: #43BBFF;
}

/* SOMMAIRE */

.shape {
    padding: 20px;
    width: 270px;
    position: relative;
    
}

.shape .bullet {
    color: #43BBFF;
    opacity: 0;
}

.layout-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 750px;
    position: absolute;
    top: 100%;
    left: 7.5rem;
}

.layout-arrow-shapeFour {
    top: 90%;
}

.arrow-pulse {
    width: 70px;
    height: 70px;
    background: linear-gradient(#6fcaff, #407ed7);
    position: relative;
    margin: auto;
    border-radius: 50%;
}

.arrow {
    top: 100%;
    height: 100%;
    width: 5px;
    background: linear-gradient(#6fcaff, #407ed7);
}

.arrow-pulse img {
    width: 24px;
    object-fit: cover;
}

/* PRESENTATION ENTREPRISE */

.container-company-key, .container-company-history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    width: 1126px;
    position: absolute;
    left: 0;
    top: 23rem;
}

/* COLLABORATION EQUIPE */



/* FGRAGMENTS */

.fragment.blur {
    filter: blur(20px);
    transition: all .5s ease-in;
}

.fragment.blur.visible {
    transition: all .5s ease-in;
    filter: none;
}

.fragment.blur-partnership {
    filter: blur(10px);
    transition: all .5s ease-in;
}

.fragment.blur-partnership.visible {
    transition: all .5s ease-in;
    filter: none;
}


/* ANIMATIONS */

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(0) scale(1);
    }

    100% {
        transform: translateY(20px) scale(1.2);
    }
}